*{
      margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    justify-content: center;
   

}
.container{
    width: 60%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  gap: 50px;
    
    
}
.div1{
    width: 100px;
    background-color: azure;
    height: 150px;
    animation: vaqt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

   
    
}
.div2{
    width: 100px;
    background-color: azure;
    height: 150px;
    animation: vaqt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
    animation-direction: alternate-reverse;


}
.div3{
    width: 100px;
    background-color: azure;
    height: 150px;
    animation: vaqt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.8s;
    animation-direction: alternate-reverse;
}

@keyframes vaqt{
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.3);
    }
}






